books.dtd

<!DOCTYPE bookshop>

<!--Root elemnt containing all the books being listed-->
<!ELEMENT bookshop(book+)>

<!--the elment book will contain the data but ISBN can be left empty-->
<!ELEMENT book(bookcover,title,description,author,ISBN?, price, year)>
<!--Each book must have the category attribute (horror, sci-fi, non-fiction, romance, children, mystery, thriller)-->
<!ATTLIST book category CDATA #REQUIRED>

<!--bookcover stores the image url-->
<!ELEMENT bookcover EMPTY>
<!ATTLIST bookcover url CDATA #REQUIRED>

<!ELEMENT title (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!ELEMENT author (firstname, lastname)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>

<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT year (#PCDATA)>

