DTD.dtd

<!ELEMENT bookshop (category+)>

<!ELEMENT category (book+)>
<!ATTLIST category name CDATA #REQUIRED>
<!ATTLIST book genre CDATA #REQUIRED>

<!ELEMENT book (title, author, ISBN, price, year)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT author (firstname, lastname)>
<!ELEMENT firstname(#PCDATA)>
<!ELEMENT lastname(#PCDATA)>
<!ELEMENT ISBN(#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT year (#PCDATA)>
